/* reset_page.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

/* wrapper_flex */
.wrapper_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, .carousel, .content, footer{
    width: 100%;
}

/* header */
header{
    padding-top: 20px;
    padding-bottom: 20px;
}

header .container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container .logo{
    width: 80px;
    height: 80px;
    padding-top: 25px;
    border-radius: 50%;
    background-color: #FF3333;
    color: #fff;
}

header .container .logo .work{
    padding-left: 5px;
}

header .container .logo .with{
    padding-left: 35px;
    line-height: 5px;
}

header .container .github_link{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 9px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #eaeaea;
    color: #464e54;
    transition: 0.5s;
}

header .container .github_link:hover{
    background-color: #464e54;
    color: #eaeaea;
    transition: 0.5s;
}

/* carousel */
.carousel{
    height: 520px;
    background-color: #61696e;
}

.carousel .container{
    padding-top: 30px;
    padding-bottom: 40px;
}

.carousel .container h1{
    text-align: center;
    color: #fff;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 35px;
}

/* sliders */
#slides{
    position: relative;
    width: 600px;
    height: 370px;
    padding: 0px;
    margin: 0px auto;
    list-style-type: none;
}
  
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
  
.showing{
    opacity: 1;
    z-index: 2;
}
  
.slide{
    font-size: 40px;
}
  
.slide:nth-of-type(1){
    background: url(../img/01_layout_using_positioning.jpg) no-repeat center center;
    background-size: contain;
}
  
.slide:nth-of-type(2){
    background: url(../img/02_layout_using_flex.jpg) no-repeat center center;
    background-size: contain;
}
  
.slide:nth-of-type(3){
    background: url(../img/03_layout_using_grid.jpg) no-repeat center center;
    background-size: contain;
}
  
.slide:nth-of-type(4){
    background: url(../img/07_layout_using_floats.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(5){
    background: url(../img/11_graduation_project.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(6){
    background: url(../img/12_workwith.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(7){
    background: url(../img/13_layuotFigma_using_grid.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(8){
    background: url(../img/14_guessPicture.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(9){
    background: url(../img/15_dragAndDrop.jpg) no-repeat center center;
    background-size: contain;
}

.slide:nth-of-type(10){
    background: url(../img/16_battleShip.jpg) no-repeat center center;
    background-size: contain;
}

.background{
    width: 600px;
    height: 370px;
}

/* content */
.content{
    background-color: #e3e4e6;
}

.content .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 75px;
    border-bottom: 1px solid #959a9e;
    color: #464e54;
}

.content .container .site{
    width: 33.3333%;
    height: 300px;
    padding: 10px 10px 0 10px;
}

.content .container .site .wrapper{
    height: 215px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.content .container .site .title{
    padding-top: 10px;
    font-size: 12px;
}

.content .container .site .title:hover{
    color: #f33;
    transition: all 0.5s;
}

.content .container .site .wrapper .img_one{
    height: 100%;
    background: url(../img/01_layout_using_positioning.jpg);
}

.content .container .site .wrapper .img_two{
    height: 100%;
    background: url(../img/02_layout_using_flex.jpg);
}

.content .container .site .wrapper .img_three{
    height: 100%;
    background: url(../img/03_layout_using_grid.jpg);
}

.content .container .site .wrapper .img_four{
    height: 100%;
    background: url(../img/07_layout_using_floats.jpg);
}

.content .container .site .wrapper .img_five{
    height: 100%;
    background: url(../img/11_graduation_project.jpg);
}

.content .container .site .wrapper .img_six{
    height: 100%;
    background: url(../img/12_workwith.jpg);
}

.content .container .site .wrapper .img_eight{
    height: 100%;
    background: url(../img/13_layuotFigma_using_grid.jpg);
}

.content .container .site .wrapper .img_nine{
    height: 100%;
    background: url(../img/14_guessPicture.jpg);
}

.content .container .site .wrapper .img_ten{
    height: 100%;
    background: url(../img/15_dragAndDrop.jpg);
}

.content .container .site .wrapper .img_eleven{
    height: 100%;
    background: url(../img/16_battleShip.jpg);
}

.content .container .site .wrapper .img_round{
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: contain;
}

.content .container .site .in_the_process{ /* стилизован не тэг <p> а добавлен class in_the_process к wrapper */
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    background-color: #fc6363;
}

/* footer */
footer .container .wrapper_footer_content{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px 45px 40px;
}

footer .container .wrapper_footer_content ul li div{
    width: 300px;
    margin: 0 auto;
}

footer .container .wrapper_footer_content li{
    width: 33.3333%;
}

footer .container .wrapper_footer_content h4{
    color: #959a9e;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 12px;
}

footer .container .wrapper_footer_content .text_about{
    width: 300px;
    line-height: 17px;
    font-size: 12px;
    color: #505961;
}

footer .container .wrapper_footer_content .text_about a{
    color: #f33;
    transition: all 0.5s;
}

footer .container .wrapper_footer_content .text_about a:hover{
    color: #505961;
}

footer .container .last_works li{
    width: 300px;
    line-height: 17px;
    font-size: 12px;
    color: #505961;
}

footer .container .last_works li a:hover{
    color: #f33;
    transition: all 0.5s;
}

footer .container .wrapper_footer_content .contact ul{
    display: flex;
}

footer .container .wrapper_footer_content .contact ul li{
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 50%;
    margin-right: 10px;
    color: #464e54;
    transition: 0.5s;
}

footer .container .wrapper_footer_content .contact ul li div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    padding-top: 7px;
    padding-left: 8px;
}

footer .container .wrapper_footer_content .contact ul li div:hover{
    background-color: #464e54;
    color: #eaeaea;
    transition: 0.5s;
}